@import 'variables';

@import 'mixins';

@import 'reset';

@import 'about-nav';

@import 'about-footer';

.container {
  max-width: 800px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  background: @container-bg;

  @media @desktop {
    max-width: 100%;
    width: 100%;
  }

  @media @tablet {
    width: 100%;
  }

  @media @mobile {
    width: 100%;
  }

  .intro {
    text-align: center;
    width: 100%;
    margin: 2% 0;
    h2 {
      font-size: 4rem;
      padding: 1%;
    }

    @media @mobile {
      margin: 10% 0 0 0;
    }
  }
}

.card-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  .card {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 25%;
    min-height: 30%;
    padding: 2%;
    margin: 3%;
    box-shadow: 1px 1px 5px 1px #ccc;

    @media @mobile {
      width: 80%;
      min-height: 0;
      margin: 5% 5%;
      padding: 5% 2%;
    }

    .profile-pic {
      width: 100%;
      margin: 0 auto;

      @media @mobile {
        width: 90%;
      }
    }

    h2 {
      text-align: center;
      font-size: 2.4rem;
      width: 100%;
      padding: 5%;
      margin-bottom: 5%;
      border-bottom: 1px solid gray;
    }
    
    h3 {
      font-size: 1.6rem;
    }

    .social {
      text-align: center;
      margin-top: 5%;
      width: 100%;
      a {
        font-size: 4rem;
        color: #2b3137;
        padding: 2%;
      }
    }
  }
}



