footer {
  width: 100%;
  padding: 2% 0; 
  background-color: #383838;
  text-align: center;
  a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    .link-transition();

    &:hover {
      color: #31EE5A;
    }
  }
}