    //**************************************  the wrapper of the page
.wrapper{
    max-width: 880px;
	width: 100%;
    margin: 0 auto; 
    padding: 1% 0; 
    background-color: #fff;
    padding-top: 3%;

        //************************************** the header of page
    hr{
        width: 80%;
        border: 2px dashed black;
    }

    header{
        text-align: center;

        //************************************** 500px for header of the page
        h1{
            @media @mobile {
                margin-top: 5%;
            }
        }
        //**************************************  the paragraph of the home page
        p{
            margin: 4%;
        }
    }

    //************************************** The info page of home with texts and images
    .info-part{

        padding: 3% 9%;
        

        //**************************************  the top part of info with text on left and image on right
        .top-info{
            display: flex;
            justify-content: space-between;
            margin: 6% 0;

            //************************************** 800px for the  top info page
            @media @tablet{
                flex-direction: column;
            }

            //**************************************  500px for the top info page
            @media @mobile {
                flex-direction: column;
            }

            //**************************************  the left text of the page in top info
            .part-1{

                padding: 2%;
                border: 2px solid black;

                //************************************** 800px for the top page
                @media @tablet{
                    margin: 0 auto;
                    width: 95%;
                }

                //**************************************  500px for the top page
                @media @mobile {
                    margin: 0 auto;
                    width: 95%;
                }
    

                h2{
                    text-align: center;
                    padding-bottom: 2%;
                }

                p{
                    text-align: center;
                }
            }

            //************************************** the right image of the page with gray background with blue line
            .img{
                min-width: 0;
                margin: 2px;

                img{
                    max-width: 100%;
                    max-height: 450px;
                    height: 99%;
                }

                @media @tablet {
                    width:95%;
                    padding-top: 5%;
                    margin: 0 auto;
                }

                 //**************************************  500px for the top info page
                @media @mobile {
                    margin: 2% auto;
                    width: 95%;

                }
    
            }
        }

        //**************************************  the bottom part of info with text on right and image on left
        .bottom-info{
            display: flex;
            justify-content: space-between;
            margin: 2% 0;

             //**************************************  670px only for bottom info
            @media (max-width: 670px){
                flex-direction: column-reverse;
             }

              //**************************************  500px for the bottom info
            @media @mobile {
                flex-direction: column-reverse;
            }

            .part-2{
                padding: 2%;
                border: 2px solid black;

                //**************************************  670px only for bottom info text on right
                @media (max-width: 670px){
                    margin: 0 auto;
                    width: 95%;
                }

                 //**************************************  500px for the bottom page
                @media @mobile {
                    margin: 0 auto;
                    width: 95%;
                }
                

                h2{
                    text-align: center;
                    padding-bottom: 2%;
                }

                p{
                    text-align: center;
                }
            }


            //**************************************  The code image with black background color
            .img{
                min-width: 0;
                margin: 2px;

                //**************************************  670px only for bottom info image on left
                @media (max-width: 670px){
                    margin: 2% auto;
                    width: 60%;
                }

                img{
                    width: 300px;
                    max-width: 100%;
                    max-height: 200px;
                }

                
                //************************************** 500px page size for bottom info image
                @media @mobile {
                    margin: 2% auto;
                    width: 80%;

                }
            }
        }

    }

    //**************************************  to center the button

    .button-container {
        padding: 5% 0;
        display: flex;
        justify-content: center;
    }

    //************************************** Button of the page and hover effect

    button{
        cursor: pointer;
        background-color: #31EE5A;
        border: 1px solid #31EE5A;
        font-family: 'Raleway', sans-serif;
        font-size: 3rem;
        font-weight: bolder;
        padding: 4% 30%;
        outline: none;
        border-radius: 10px;
        box-shadow: 10px 8px 13px rgba(0, 0, 0, 0.25);
        transition: 0.5s;
        margin-bottom: 10%;
        color: white;

        @media @mobile {
            width: 100%;
            border-radius: 0;
        }

        &:hover{
            background-color: white;
            color: black;
        }
    }
}